.basefile {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5vw;
    margin: .25vw;
    height: 92.5vh;
    width: 35vw;
    background-color: rgb(224, 200, 169);
    background-position: center;
    position: relative;
    border-radius: 1.5vh;
}

* {
    margin: 0; 
    padding: 0;
}
.special{
    position: absolute;
    top: 350px;
}
.spy{
    position: absolute;
    left: 30px;
    top: 450px;
}
.secret{
    position: absolute;
    top: -50px;
    left: 280px;
}
.sp{
    position: absolute;
    top: 280px;
}
.txt{
    position: absolute;
    top: 490px;
    left: 180px;
}
.codebox{
    position: absolute;
    /* border: 2px solid red; */
    background-color: rgb(224, 200, 169);
    padding: 10px;
    height: 180px;
    left: 536px;
    top: 450px;
    border-radius: 2px;

}
.code{
    position: relative;
    top: 10px;
}


@media screen and (max-width:431px) {
    .basefile {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: .3vw;
        height: 60vh;
        width: 80vw;
        background-color: rgb(224, 200, 169);
        background-position: center;
        position: relative;
        border-radius: 1.5vh;
        left: -7px;
        top: 25vh;
    
    }
    .special{
        position: absolute;
        height: 7vh;
        top: 350px;
    }
    .spy{
        position: absolute;
        height: 10vh;
        width: 20vw;
        left: 20px;
        top: 450px;
    }
    .secret{
        position: absolute;
        height: 20vh;
        width: 40vw;
        top: 1vh;
        left: 40vw;
    }
    .sp{
        position: absolute;
        height: 5vh;
        width: 70vw;
        top: 280px;
    }
    .txt{
        position: absolute;
        height: 6vh;
        width: 46vw;
        top: 51vh;
        left: 30vw;
    }
    .codebox{
        position: absolute;
        /* border: 2px solid red; */
        background-color: rgb(224, 200, 169);
        padding: 10px;
        height: 180px;
        left: 77vw;
        top: 35vh;
        border-radius: 10px;
    
    }
    .code{
        position: relative;
        top: 10px;
    }
}